#my-article > article > section{
    padding: 0 4px 0 4px;
    border: solid black 1px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#my-article > details > summary > h4{
    display: inline-block;
}

#my-article > ul{
    list-style-type: square;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#my-article > img{
    width: inherit;
}

#my-article > article > section .reference{
    color: grey;
    border: solid grey 1px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    font-size: small;
}
#my-article > article > section .reference::before{
    content: "※";
}

